@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Serif', serif;
  color: rgb(41, 41, 41);
}

@layer components {
  .wrap {
    @apply px-10
  }

  .flex-b {
    @apply flex items-center justify-between
  }

  .item {
    @apply ml-6 text-lg font-semibold uppercase
  }

  .menu {
    @apply w-10 h-1 bg-red-500 m-2 cursor-pointer
  }

  .form-w {
    @apply w-2/4 m-auto
  }

  .addBanner {
    @apply w-2/4 p-2 text-slate-200 cursor-pointer hover:text-slate-300
  }

  .icons {
    @apply ml-3 text-2xl bg-white p-1 hover:cursor-pointer hover:bg-red-800 hover:text-white
  }

  .button {
    @apply py-2 px-3 font-semibold rounded-sm duration-100
  }

  .formHeading {
    @apply text-2xl text-slate-100 text-center my-3
  }

  /*  register , login  type text */
  .loginText {
    @apply text-gray-100 font-semibold text-center block cursor-pointer italic underline
  }

  /* blog details page  */

  /* donar*/
  .donarBtn {
    @apply font-semibold text-white uppercase w-full py-3 text-center text-sm
  }

  .donarLoginFiled {
    @apply bg-gray-50 border mt-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  .donarCard {
    @apply w-full sm:w-48 md:w-23 my-4 rounded-md shadow-md shadow-fuchsia-300
  }

  .genarelInfo {
    @apply my-3 px-2
  }

  .genarelInfo p {
    @apply my-2 capitalize
  }

  .genarelInfo span {
    @apply font-semibold text-red-400 hover:text-red-600
  }

  /*  donar*/


  /* profile start */

  .donarProfileLeSidebar {
    @apply w-72 px-4 py-10 bg-gray-100
  }

  .profielCard {
    @apply bg-gray-200 text-center py-5 rounded-md shadow-sm shadow-slate-300
  }

  .donarProfileMain {
    @apply flex-1
  }

  .eventWrapper {
    @apply flex-b flex-wrap justify-start gap-5
  }

  .userEvents {
    @apply w-31 bg-gray-100 shadow-sm
  }

  .eventBtn {
    @apply w-full text-center bg-gray-200 text-black hover:bg-slate-200
  }

  /* profile  end */



  .details {
    @apply w-9/12 py-10 border-r border-solid border-slate-300 pr-3
  }

  .page-sidebar {
    @apply flex-1 ml-5 py-10
  }

  /* blog details page  */

  /*  footer */
  .newsletter {
    @apply py-7 border-t border-slate-100 flex justify-between items-center flex-wrap
  }

  .newsletter p {
    @apply mb-3
  }

  .newsletter input {
    @apply w-full p-3 text-black
  }

  /*  footer */

  /*  admin ddasbboard */
  .sidebar {
    @apply bg-slate-600 h-screen px-3 py-10 duration-300
  }

  .sidebarBtn {
    @apply w-full px-3 py-2 text-center rounded-sm text-white bg-slate-500 cursor-pointer font-semibold my-3 uppercase hover:bg-slate-400 duration-150
  }

  .arrow {
    @apply w-10 absolute top-0 -right-7 cursor-pointer
  }

  .main {
    @apply flex-1 h-screen overflow-y-auto p-5
  }

  /* dashboard add form  */

  .dash_board_items {
    @apply w-full sm:w-48 md:w-31 py-5 px-2 my-10 shadow-md shadow-slate-400 border-red-300 cursor-pointer
  }
  .dash_card{
     @apply text-lg uppercase
  }
  .dFormWrap {
    @apply w-full md:w-3/4 m-auto mt-10 bg-slate-600 py-10 px-6 shadow-md
  }

  .title {
    @apply text-2xl font-semibold md:text-4xl my-3 md:font-bold text-center uppercase text-white
  }

  /* dashboard add form  */

  .adminBtn {
    @apply w-full bg-slate-400 absolute top-0 right-0
  }

  /* manageContent => add logo */
  .logos {
    @apply flex items-center justify-between w-full overflow-x-scroll gap-2
  }

  .manageHeading {
    @apply font-semibold text-white capitalize w-full py-3 text-center text-xl shadow-md
  }

  /*  admin ddasbboard */
}

@layer base {

  .inset-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid gainsboro;
  }

  .ul li {
    margin-top: 10px;
  }

  .heading {
    font-size: 32px;
    font-weight: 500;
  }

  .scroll-none::-webkit-scrollbar {
    display: none;
  }


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}

a:hover {
  text-decoration: none;
  color: black;
}

td {
  text-align: left;
  text-transform: capitalize;
}

th {
  text-transform: uppercase;
}

p,
small {
  word-wrap: break-word;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -78px;
  border: 0;
  margin-top: var(--bs-dropdown-spacer);
  background-color: whitesmoke
}